
<div class="card">
  <div class="card-body">

    <div class="row">

      <div class="col-12">
        <div class="machines-info">

          <div class="row machine-title">
            <div class="col-12" *ngIf="machine">
              <p>Info de {{machine}}</p>
            </div>
            <div class="col-12" *ngIf="!machine">
              Seleccione una fecha y una máquina
            </div>
          </div>

          <div class="row" *ngFor="let task of tasks; let i = index">
            <div class="col-12">
              <app-machine-task [data]="task"></app-machine-task>
            </div>
          </div>

          <div class="row" *ngIf="resume">
            <div class="col-12">
              <div class="resume-row">
                <span>Resume</span>
              </div>
              <div class="row ot-info">


                <div class="col-12">
                  <p><span>Total de Tareas:</span> {{resume.tasks}}</p>
                  <p><span>Horas Estimadas:</span> {{resume.estimated}}</p>
                  <p><span>Horas Trabajadas:</span> {{resume.worked}}</p>
                </div>

                <div class="col-12">
                  <p><span>Tareas Pendientes:</span> {{resume.pending}}</p>
                  <p><span>Tareas en Progreso:</span> {{resume.in_progress}}</p>
                  <p><span>Tareas Finalizadas:</span> {{resume.done}}</p>
                </div>


                <!--                      <div class="col-12 btn" (click)="ot.show = !ot.show">-->
                <!--                        <span>Workers</span>-->
                <!--                        <div class="ml-2">-->
                <!--                          <fa-icon [icon]="faCaretDown" *ngIf="ot.show"></fa-icon>-->
                <!--                          <fa-icon [icon]="faCaretUp" *ngIf="!ot.show"></fa-icon>-->
                <!--                        </div>-->
                <!--                      </div>-->
                <!--                      <div class="workers" [ngbCollapse]="ot.show">-->
                <!--                        <table class="table mb-0">-->
                <!--                          <thead>-->
                <!--                          <tr>-->
                <!--                            <th>Name</th>-->
                <!--                            <th>Start Time</th>-->
                <!--                            <th>End Time</th>-->
                <!--                            <th>Work Time</th>-->
                <!--                          </tr>-->
                <!--                          </thead>-->
                <!--                          <tbody>-->
                <!--                          <tr *ngFor="let worker of ot.workers; let i = index">-->
                <!--                            <td>{{worker.name}}</td>-->
                <!--                            <td>{{worker.start}}</td>-->
                <!--                            <td>{{worker.end}}</td>-->
                <!--                            <td>{{worker.duration}}h</td>-->
                <!--                          </tr>-->
                <!--                          </tbody>-->
                <!--                        </table>-->
                <!--                      </div>-->
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
