
.machine-title{
  font-size: 22px;
  font-weight: 500;
}

.resume-row{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: #ffffff;
  background-color: #002546;
  vertical-align: bottom;
  border-bottom: 2px solid #eff2f7;
}

.ot-info{
  padding: 15px;
}
.ot-info span{
  font-weight: 500;
  color: #212529;
}
.ot-info > div {
  display: flex;
  justify-content: space-between;
}
