
<div class="container-fluid fill-h-100">

  <swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
  >
    <ng-template swiperSlide *ngFor="let department of departments; index as i;">
      <app-card class="fill-h-100" [department]="department" [info]="products[i]"></app-card>
    </ng-template>

  </swiper>

</div>
