<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
          <h4 class="card-title text-capitalize">{{this.tableName}}</h4>
          <button type="button" class="btn btn-success" (click)="goTo('/management/' + this.tableName + '/add', '')"><fa-icon [icon]="addIcon" ></fa-icon> Add</button>
        </div>
<!--        <h5 class="card-subtitle">This is the editing Data table option you can double click on text</h5>-->

        <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
          [rows]="rows">
          <ngx-datatable-column name="Id" [minWidth]="150" [maxWidth]="150">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
                {{value}}
              </span>
              <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']" type="text" [value]="value"
              />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
                {{value}}
              </span>
              <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']" type="text" [value]="value"
              />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [minWidth]="140" [maxWidth]="140">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button type="button" class="btn btn-warning" (click)="goTo('/management/' + this.tableName + '/add', row.id)"><fa-icon [icon]="editIcon" ></fa-icon></button>
              <button type="button" class="btn btn-danger ml-2" (click)="daleteData(row.id)"><fa-icon [icon]="trashIcon" ></fa-icon></button>
<!--              {{row.active}}-->
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
