
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="filter-type mb-15" #filters>
            <div class="type" (click)="getChildren(0)">
              <input type="radio" name="filter1" checked="">
              <label>
                OT's
              </label>
            </div>

            <div class="type" (click)="getChildren(1)">
              <input type="radio" name="filter1">
              <label>
                Machines
              </label>
            </div>

            <div class="type" (click)="getChildren(2)">
              <input type="radio" name="filter1">
              <label>
                Workers
              </label>
            </div>

            <div class="selected" [style.width.px]="selected.width" [style.left.px]="selected.left"></div>
          </div>

          <div>
            <div class="checkbox-block">
              <div>
                <input class="checkbox-effect checkbox-effect-2" id="get-up-all" type="checkbox"
                       [checked]="allMachines"
                       (change)="selectAllMachines(allMachines)"/>
                <label for="get-up-all">
                  <fa-icon [icon]="faCheck"></fa-icon>
                  <span class="circle"></span>
                  All
                </label>
              </div>
              <div *ngFor="let machine of filterMachines; let i = index">
                <input class="checkbox-effect checkbox-effect-2" id="get-up-{{i}}" type="checkbox"
                       [checked]="machine.filter"
                       (change)="selectMachine(i)"/>
                <label for="get-up-{{i}}">
                  <fa-icon [icon]="faCheck"></fa-icon>
                  <span class="circle"></span>
                  {{machine.name}}
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="fc fc-ltr">
            <div class="fc-menu">
              <div class="fc-menu-chunk">
                <div class="btn-group">
                  <button type="button" class="prev-button btn btn-primary" (click)="previousmonth()">prev</button>
                  <button type="button" class="next-button btn btn-primary" (click)="nextmonth()">next</button>
                </div>
                <button type="button" class="today-button btn btn-primary ml-2"
                        [disabled]="date.month() === today.month() && date.year() === today.year()"
                        (click)="todaymonth()"
                >today</button>
              </div>
              <div class="fc-menu-chunk"><h2 class="title">{{date.format('MMMM ')}} {{date.format('YYYY ')}}</h2></div>
              <div class="fc-menu-chunk">
                <div class="btn-group">
                  <button type="button" class="viewMonth-button btn btn-primary"
                          (click)="changeView(0)"
                          [class.active]="view === 0"
                  >month</button>
                  <button type="button" class="viewWeek-button btn btn-primary"
                          *ngIf="selected.type === 1"
                          (click)="changeView(1)"
                          [class.active]="view === 1"
                  >week</button>
                  <button type="button" class="viewlistWeek-button btn btn-primary">list</button>
                </div>
              </div>
            </div>

<!--            <app-timeline *ngIf="selected.type === 1 || selected.type === 2"></app-timeline>-->
            <app-calendar *ngIf="selected.type === 0"></app-calendar>
            <app-timeline
              *ngIf="selected.type === 1  && view === 0"
              [date]="date.format('DD-MM-YYYY')"
              [machines]="machines"
              [workers]="workers"
              [request]="request"
            ></app-timeline>
            <app-timeline-week-day
              *ngIf="selected.type === 1 && view === 1"
              [date]="date.format('DD-MM-YYYY')"
              [machinesR]="machines"
              [workers]="workers"
              [request]="request"
            ></app-timeline-week-day>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>


