
/*==============================================================*/
/*  Filter CheckBox  */
/*==============================================================*/
.checkbox-block {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(237,242,247,1);
  border-radius: 0.375rem;
}

.checkbox-effect:not(:checked),
.checkbox-effect:checked{
  position: absolute;
  left: -9999px;
}

.checkbox-block label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
}
.checkbox-effect-2:not(:checked) + label .circle,
.checkbox-effect-2:checked + label .circle {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 3px solid #1976d2;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 5px;
  transition-delay: 0.2s;
}

.checkbox-effect-2:not(:checked) + label fa-icon,
.checkbox-effect-2:checked + label fa-icon {
  content: "";
  display: flex;
  height: 100%;
  align-items:center;
  position: absolute;
  left: 8px;
  top: 0;
  color: #109300;
}

.checkbox-effect-2:not(:checked) + label fa-icon {
  opacity: 0;
  transition-duration: 0.2s;
}

.checkbox-effect-2:checked + label .circle {
  opacity: 0;
  transition-duration: 0.2s;
}

.checkbox-effect-2:checked + label fa-icon {
  opacity: 1;
  transition-delay: 0.5s;
}
/*==============================================================*/
/*  End Filter CheckBox  */
/*==============================================================*/
/*==============================================================*/
/*  Calendar Nav */
/*==============================================================*/
.fc-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}
.fc-menu-chunk .title{
  font-size: 1.75em;
  margin: 0;
}
/*==============================================================*/
/*  End Calendar Nav */
/*==============================================================*/
