<div class="container-fluid">
  <div class="row">
<!--    <div class="col-12">-->
<!--      <h2 class="filter-title">EAGLE VIEW</h2>-->
<!--    </div>-->
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="row">

            <div class="col-6">
              <div class="filter-type no-margin" #filters>
                <div class="type" (click)="getChildren(0)">
                  <input type="radio" name="filter1" checked="">
                  <label>
                    Semanal
                  </label>
                </div>

                <div class="type" (click)="getChildren(1)">
                  <input type="radio" name="filter1">
                  <label>
                    Bisemanal
                  </label>
                </div>

                <div class="type" (click)="getChildren(2)">
                  <input type="radio" name="filter1">
                  <label>
                    Mensual
                  </label>
                </div>

                <div class="selected" [style.width.px]="selected.width" [style.left.px]="selected.left"></div>
              </div>
            </div>


            <div class="col-6">
              <div class="filter-date">
                <div>
                  <span>Personalizado</span>
                </div>

                <div class="input-group">
                  <div class="input-group-append">
                    <button class="btn calendar" (click)="i.toggle()" type="button">
                      <fa-icon [icon]="faCalendarDays"></fa-icon>
                    </button>
                  </div>
                  <input class="form-control" placeholder="Fecha de inicio"
                         name="dp" [(ngModel)]="startDate" ngbDatepicker #i="ngbDatepicker" (ngModelChange)="setStartDate()">
                  <!--                       name="dp" [(ngModel)]="startDate" ngbDatepicker #i="ngbDatepicker" (ngModelChange)="setEndDate($event);">-->
                </div>

                <div class="input-group">
                  <div class="input-group-append">
                    <button class="btn calendar" (click)="f.toggle()" type="button">
                      <fa-icon [icon]="faCalendarDays"></fa-icon>
                    </button>
                  </div>
                  <input class="form-control" placeholder="Fecha final"
                         name="dp" [(ngModel)]="endDate" [minDate]="startDate" ngbDatepicker #f="ngbDatepicker" (ngModelChange)="setEndDate()">
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
