
.filter-title {
  text-align: center;
  margin-bottom: 30px;
}

.filter-date {
  display: flex;
}

.filter-date > div:first-child {
  padding: 10px;
}
.filter-date > div {
  padding: 0 10px;
}
.filter-date > div .btn {
  height: 40px;
}
.filter-date > div input {
  height: 2.5rem;
  padding: 0.25rem;
  background-color: #edf2f7;
  border: 0;
  border-radius: 0 0.375rem 0.375rem 0;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(92 74 199 / 0%);
}
