.fc-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}
.fc-menu-chunk .title{
  font-size: 1.75em;
  margin: 0;
}
.fc-view-container *, .fc-view-container :after, .fc-view-container :before {
  box-sizing: content-box;
}
.fc-view-container .fc-month-view table{
  flex-grow: 1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}
.fc td, .fc th {
  border-style: solid!important;
  border-width: 1px!important;
  padding: 0;
  vertical-align: top;
}
table th {
  text-align: center;
}
.table-bordered, .table-bordered thead td, .table-bordered thead th {
  border: 1px solid #eff2f7;
}
.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #eff2f7;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}
.fc .fc-row {
  border-style: solid;
  border-width: 0;
}
.fc-row {
  position: relative;
}
.fc-row:first-child table {
  border-top: 0 hidden transparent;
}
.fc-row table {
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  border-bottom: 0 hidden transparent;
}
table th.fc-day-header {
  padding: 0.5rem 0;
}

.fc-scroller>.fc-day-grid, .fc-scroller>.fc-time-grid {
  position: relative;
  width: 100%;
}
.fc-month-view .fc-body .fc-row {
  min-height: 4em;
}
.fc-row.fc-rigid {
  overflow: hidden;
}
.fc-day-grid .fc-row {
  z-index: 1;
}

.fc-row .fc-bg {
  z-index: 1;
}
.fc-bg {
  bottom: 0;
}
.fc-bg, .fc-bgevent-skeleton, .fc-highlight-skeleton, .fc-mirror-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.fc-bg table {
  height: 100%;
}
.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: 2px;
}
.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td {
  background: none;
  border-color: transparent;
}

.fc-row .fc-content-skeleton td, .fc-row .fc-mirror-skeleton td {
  border-bottom: 0;
}
.fc-day-top.fc-other-month {
  opacity: .3;
}
.fc-ltr .fc-month-view .fc-day-top .fc-day-number {
  float: right;
}

.fc-month-view .fc-day-number, .fc-dayGrid-view .fc-week-number {
  padding: 2px;
}
.fc-day.fc-today {
  background-color: aliceblue;
  border-radius: 0.25rem;
}

.fc-event {
  position: relative;
  display: block;
  line-height: 1.4;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: .8125rem;
  margin: 5px 7px;
  padding: 4px;
  text-align: center;
}
.fc-event.fc-not-start {
  border-radius: 0 2px 2px 0;
  margin: 5px 7px 5px 0;
}
.fc-event.fc-not-end {
  border-radius: 2px 0 0 2px;
  margin: 5px 0 5px 7px;
}
.fc-day-grid-event .fc-content {
  white-space: nowrap;
  overflow: hidden;
}
.fc-event .fc-content {
  position: relative;
  z-index: 2;
}
