
<div class="fc fc-ltr">

            <div class="fc-view-container">
              <div class="fc-month-view">
                <table class="table-bordered">
                  <thead class="fc-head">
                  <tr>
                    <td class="fc-head-container ">
                      <div class="fc-row table-bordered">
                        <table class="table-bordered">
                          <thead>
                          <tr>
                            <th class="fc-day-header" *ngFor="let weekday of weekdaysShort; let i = index">
                              <span>{{weekday}}</span>
                            </th>
                          </tr>
                          </thead>
                        </table>
                      </div>
                    </td>
                  </tr>
                  </thead>
                  <tbody class="fc-body">
                  <tr>
                    <td class="">
                      <div class="fc-scroller fc-day-grid-container" style="overflow: hidden;">
                        <div class="fc-day-grid">
                          <div class="fc-row fc-week table-bordered fc-rigid" style="min-height: 122px;" *ngFor="let calendarDays of calendar.calendarDays; let i = index">
                            <div class="fc-bg">
                              <table class="table-bordered">
                                <tbody>
                                <tr>
                                  <ng-container *ngFor="let day of calendarDays">
                                    <td class="fc-day" [ngClass]="day.className" [class.fc-today]="checkToday(day.date)" [attr.data-date]="day.date"></td>
                                  </ng-container>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="fc-content-skeleton">
                              <table>
                                <thead>
                                <tr>
                                  <ng-container *ngFor="let day of calendarDays">
                                    <td class="fc-day-top" [ngClass]="day.className" [attr.data-date]="day.date">
                                      <span class="fc-day-number">{{day.day}}</span>
                                    </td>
                                  </ng-container>
                                </tr>
                                </thead>
                                <tbody>
                                <ng-container *ngFor="let weeks of calendar.calendarEvents; let w = index">
                                  <ng-container *ngIf="i===w">
                                    <tr *ngFor="let rows of weeks">
                                    <ng-container *ngFor="let event of rows; let r = index">
                                      <ng-container *ngIf="haveEvents(event); else empty">
                                        <td class="fc-event-container" [colSpan]="event.taskDays"><a
                                          class="fc-day-grid-event fc-h-event fc-event bg-success text-white" [ngClass]="event.taskClass">
                                          <div class="fc-content"><span class="fc-title"> {{event.taskPO}}</span>
                                          </div>
                                        </a></td>
                                      </ng-container>
                                      <ng-template #empty>
                                        <td></td>
                                      </ng-template>
                                    </ng-container>
                                    </tr>
                                  </ng-container>
                                </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </div>
