.fc-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}
.fc-menu-chunk .title{
  font-size: 1.75em;
  margin: 0;
}
.fc-view-container *, .fc-view-container :after, .fc-view-container :before {
  box-sizing: content-box;
}
.fc-view-container .fc-month-view table{
  flex-grow: 1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  height: 1px;
}
.fc td, .fc th {
  border-style: solid!important;
  border-width: 1px!important;
  padding: 0;
  vertical-align: top;
}
table th {
  text-align: center;
}
.table-bordered, .table-bordered thead td, .table-bordered thead th {
  border: 1px solid #eff2f7;
}
.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #eff2f7;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}

.table-bordered .fc-machine{
  text-align: center;
  line-height: 30px;
}
.table-bordered .fc-machine .fc-machine-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.table-bordered .fc-machine .fc-days{
  display: flex;
  justify-content: space-evenly;
}

.fc .fc-row {
  border-style: solid;
  border-width: 0;
}
.fc-row {
  position: relative;
}
.fc-row:first-child table {
  border-top: 0 hidden transparent;
}
.fc-row table {
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  border-bottom: 0 hidden transparent;
}
table th.fc-day-header {
  padding: 0.5rem 0;
}

.fc-scroller>.fc-day-grid, .fc-scroller>.fc-time-grid {
  position: relative;
  width: 100%;
}
.fc-month-view .fc-body .fc-row {
  min-height: 4em;
}
.fc-row.fc-rigid {
  overflow: hidden;
}
.fc-day-grid .fc-row {
  z-index: 1;
}

.fc-row .fc-bg {
  z-index: 1;
}
.fc-bg {
  bottom: 0;
}
.fc-bg, .fc-bgevent-skeleton, .fc-highlight-skeleton, .fc-mirror-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.fc-bg table {
  height: 100%;
}
.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: 2px;
}
.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td {
  background: none;
  border-color: transparent;
}

.fc-row .fc-content-skeleton td, .fc-row .fc-mirror-skeleton td {
  border-bottom: 0;
}
.fc-day-top.fc-other-month {
  opacity: .3;
}
.fc-ltr .fc-month-view .fc-day-top .fc-day-number {
  float: right;
}

.fc-month-view .fc-day-number, .fc-dayGrid-view .fc-week-number {
  padding: 2px;
}
.fc-day-header.fc-today {
  color: #535c60;
  background-color: aliceblue;
}

.fc-event {
  position: relative;
  display: block;
  line-height: 1.4;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: .8125rem;
  margin: 2px;
  padding: 4px;
  text-align: center;
}
.fc-event.load-up {
  /*background-color: #7ad36e !important;*/
}
.fc-event.load-mid {
  background-color: #ffd493 !important;
}
.fc-event.load-low {
  background-color: #ffaeae !important;
}
.fc-day-grid-event .fc-content {
  white-space: nowrap;
  overflow: hidden;
}
.fc-event .fc-content {
  position: relative;
  z-index: 2;
}

.fc-highlight-container{
  position: relative;
}
.fc-highlight-container .machinetip {
  position: absolute;
  top: 60%;
  max-width: 300px;
  margin-top: 10px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  color: #000;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
  0 5px 15px rgba(0, 0, 0, 0.07);
  z-index: 2;

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.fc-highlight-container .machinetip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  border-width: 14px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.fc-highlight-container .machinetip.on-right {
  left: 20%;
  transform: translateX(-80%);
}
.fc-highlight-container .machinetip.on-right::after {
  left: 81%;
  transform: translateX(-20%);
}
.fc-highlight-container .machinetip.on-center, .fc-highlight-container .machinetip.on-center::after {
  left: 50%;
  transform: translateX(-50%);
}
.fc-highlight-container .machinetip.on-left{
  left: 81%;
  transform: translateX(-20%);
}
.fc-highlight-container .machinetip.on-left::after {
  left: 19%;
  transform: translateX(-80%);
}

.fc-highlight-container:hover .machinetip {
  top: 100%;
  opacity: 0.9;
}
.fc-highlight-container .machinetip img{
  width: 100%;
  margin-bottom: 1rem;
}



.table-data{
  display: block;
  width: calc(100% + 5px);
  height: 440px;
  overflow-y: scroll;
}
.table-data > tbody{
  display: block;
  overflow: hidden;
}

.table-data::-webkit-scrollbar {
  width: 5px;
}

.table-data::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
}

.table-data::-webkit-scrollbar-thumb {
  background-color:#1976d2;
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}
