
<div class="fc fc-ltr">
  <div class="fc-view-container">
    <div class="fc-month-view">
      <table class="table-bordered">
        <thead class="fc-head">
        <tr>
          <td class="fc-head-container ">
            <div class="fc-row table-bordered">
              <table class="table-bordered">
                <col style="width: 130px" />
                <thead>
                <tr>
                  <th class="fc-axis "></th>
                  <ng-container *ngFor="let hour of hours; let i = index">
                    <th class="fc-day-header"><span>{{hour}}</span></th>
                  </ng-container>
                </tr>
                </thead>
              </table>
            </div>
          </td>
        </tr>
        </thead>
        <div class="table-data">
          <tbody class="fc-body">
          <tr>
            <td>
              <div class="fc-content-skeleton" *ngFor="let machine of machines; let m = index">
                <table class="table-bordered">
                  <col style="width: 50px" />
                  <col style="width: 80px" />
                  <tbody>
                  <tr>
                    <td class="fc-axis fc-machine" [rowSpan]="8">
                      <div class="fc-machine-name">
                        <span>{{machine.name}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr *ngFor="let days of machine.days; let t = index">
                    <td class="fc-axis fc-machine" [ngClass]="{'fc-today': checkToday(days.date)}">
                      <div class="fc-days">
                        <span>{{days.dayName}}</span>
                        <span>-</span>
                        <span>{{days.day}}</span>
                      </div>
                    </td>
                    <td *ngFor="let task of days.tasks; let i = index" [colSpan]="task.duration">
                      <div class="fc-content-col">
                        <div class="fc-highlight-container">
                          <a *ngIf="task.task"
                             class="fc-time-grid-event fc-event text-white load-up"
                             style="inset: 0px 0% -561.684px; z-index: 1;"
                             [style.background-color]="task.color">
                            <div class="fc-content">
                              <div class="fc-title">{{task.task.split("-")[2]}}</div>
                            </div>
                            <div class="fc-resizer fc-end-resizer"></div>
                          </a>

                          <div class="machinetip on-center">
                            <h3>OT: {{task.task}}</h3>
                            <p>
                              Type: {{task.type}} <br>
                              Data: {{task.date}} <br>
                              Inicio: {{task.start}} <br>
                              Fin: {{task.end}} <br>
                              Duracion: {{task.duration}}h</p>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          </tbody>
        </div>
      </table>
    </div>
  </div>
</div>
