
<div class="fc fc-ltr">
  <div class="fc-view-container">
    <div class="fc-month-view">
      <table class="table-bordered">
        <thead class="fc-head">
        <tr>
          <td class="fc-head-container ">
            <div class="fc-row table-bordered">
              <table class="table-bordered">
                <thead>
                <tr>
                  <th class="fc-axis " style="width: 46.7344px;"></th>
                  <ng-container *ngFor="let days of calendar; let i = index">
                    <th class="fc-day-header" [ngClass]="{'fc-today': checkToday(days.date)}"><span>{{days.day}}</span></th>
                  </ng-container>
                </tr>
                </thead>
              </table>
            </div>
          </td>
        </tr>
        </thead>
        <tbody class="fc-body">
        <tr>
          <td>
            <div>
              <div>
                <div class="fc-content-skeleton" *ngFor="let machine of tasks; let i = index">
                  <table class="table-bordered">
                    <tbody>
                    <tr>
                      <td class="fc-axis fc-machine" style="width: 46.7344px;"><span>{{machine.name}}</span></td>
                      <ng-container *ngFor="let task of machine.tasks; let i = index">
                        <td>
                          <div class="fc-content-col">
                            <div class="fc-event-container fc-mirror-container"></div>
                            <div class="fc-event-container"></div>
                            <div class="fc-highlight-container" (click)="seeDay(task.date)">
                              <a
                                class="fc-time-grid-event fc-event text-white"
                                style="inset: 0px 0% -561.684px; z-index: 1;"
                                [ngClass]="displayLoadColor(task.hours, machine.average_load)">
                                <div class="fc-content">
                                  <div class="fc-title">{{task.hours}}</div>
                                </div>
                                <div class="fc-resizer fc-end-resizer"></div>
                              </a>

                              <div class="machinetip" [ngClass]="tipPosition(machine.tasks.length, i)">
                                <img src="assets/images/{{machine.name}}.jpg" [alt]="machine.name">
                                <h3>Machine: {{machine.name}}</h3>
                                <p>Average Load: {{machine.average_load}}</p>
                                <p>
                                  Week: {{task.week}}
                                </p>
                                <p>
                                  References:
                                  <br>
                                  <span *ngFor="let ref of task.product_reference; let i = index">{{ref}} <br></span>
                                </p>
                              </div>
                            </div>
                            <div class="fc-bgevent-container"></div>
                            <div class="fc-business-container"></div>
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <hr class="fc-divider " style="display:none">
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
