<div class="row" *ngIf="quotation_products">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Estimated  Time</h4>

        <div>
          <div class="row">
            <div class="col-4">Reference: {{quotation_products.reference}}</div>
            <div class="col-4">Total Hours: {{quotation_products.total_hours}}</div>
            <div class="col-4">Total Additional Cost: {{quotation_products.total_additional_cost}}</div>
          </div>
        </div>


        <div class="profiletimeline m-t-40">
          <ng-container *ngFor="let et of quotation_products.products; let i = index; let last = last">
            <div class="sl-item">
              <div class="sl-left">
                <img src="assets/images/{{et.family}}.jpg" alt="user" class="img-circle"> </div>
              <div class="sl-right">

                <div class="row">
                  <div style="background-color: #7adaff; padding: 0.5rem 1rem; color: #1f2227;">{{et.reference}} - {{et.total_hours}} Hours</div>
                  <div class="ml-4" style="display: flex; align-items: flex-end;">{{et.tasks.length}} tasks</div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <table class="table table-times">
                      <thead>
                      <tr>
                        <th>Task</th>
                        <th>Department</th>
                        <th>Duration</th>
                        <th>Additional Cost</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let task of et.tasks; let i = index;">
                        <td>{{task.task_type}}</td>
                        <td>{{task.department}}</td>
                        <td>{{task.duration}}</td>
                        <td>{{task.additional_cost}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-4">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Finish Class: {{et.finish_class}}</th>
                      </tr>
                      <tr>
                        <th>Material: {{et.material}}</th>
                      </tr>
                      <tr>
                        <th>Diameter: {{et.diameter}}</th>
                      </tr>
                      </thead>
                    </table>
                  </div>
                </div>

              </div>
            </div>
            <hr *ngIf="!last">
          </ng-container>
        </div>



      </div>
    </div>
  </div>
</div>
