
.card {
  height: 65%;
}

.card .card-title {
  margin: -1.25rem -1.25rem 1.75rem;
  padding: 0.25rem;
  background-color: #99abb5;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-transform: capitalize;
}

.ots-list{
  overflow-y: auto;
  padding: 0 5px;
}

.ots-title{
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
}



.ots-title .ot-icon{
  position: absolute;
  top: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 5%);
}
.ots-title .ot-icon fa-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  padding-bottom: 1px;
}
.ots-title .ot-icon fa-icon svg{
  margin-bottom: 1px;
}

.ots-title .ot-icon.warning{
  background-color: #ffb22b;
}
.ots-title .ot-icon.working{
  background-color: #419fff;
}
.ots-title .ot-icon.working .icon-rotate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  transform-origin: center;
}
.ots-title .ot-icon .icon-rotate fa-icon{
  font-size: 17px;
  color: black;
}
::ng-deep .ots-title .ot-icon .icon-rotate fa-icon svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
.ots-title .ot-icon.paused{
  background-color: #ef5350;
}
.ots-title .ot-icon.finished{
  background-color: #28a745;
}


.ots-dates {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
}

.ots-end{
  width: 100%;
  height: 2px;
  background-color: #eef5f9;
  margin-top: 5px;
  margin-bottom: 15px;
}
.ot-container:last-child .ots-end{
  display: none;
  margin-bottom: 0;
}

.ots-title .ot{
width: 100%;
background-color: #edf2f7;
display: flex;
border-radius: 0.375rem;
overflow: hidden;
}

.ots-title .ot .ot-ref{
padding: 5px 5px 5px 15px;
width: 80%;
}
.ots-title .ot .prod-ref{
color: white;
background-color: #bdbdbd;
padding: 5px;
width: 20%;
text-align: center;
}

.ots-resume{
padding: 1.25rem;
height: 35%;
}
.ots-resume .resume-info{
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}



.ots-list::-webkit-scrollbar {
width: 5px;
}

.ots-list::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
}

.ots-list::-webkit-scrollbar-thumb {
background-color:#1976d2;
-webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}


.bg-success {
background-color: #28a745!important;
}
.bg-warning {
background-color: #ffb22b!important;
}
.bg-danger {
background-color: #ef5350!important;
}
