<div class="fill-h-100">
  <div #card class="card">
    <div class="card-body">
      <h2 class="card-title">{{department}}</h2>
      <div class="ots-list" [style.height.px]="minHeight">
        <div class="ot-container" *ngFor="let po of purchaseOrders; index as i;">
          <div class="ots-title">
            <div class="ot-icon"
                 [class.warning] = "po.status === 'Pending'"
                 [class.working] = "po.status === 'InProgress'"
                 [class.paused] = "po.status === 'Paused'"
                 [class.finished] = "po.status === 'Finished'"
            >
              <ng-container *ngIf="po.status === 'Pending'">
                <fa-icon class="warning" [icon]="faTriangleExclamation"></fa-icon>
              </ng-container>
              <ng-container *ngIf="po.status === 'InProgress'">
                <div class="icon-rotate">
                  <fa-icon class="working" [icon]="faGear"></fa-icon>
                </div>
              </ng-container>
              <ng-container *ngIf="po.status === 'Paused'">
                <fa-icon class="paused" [icon]="faBan"></fa-icon>
              </ng-container>
              <ng-container *ngIf="po.status === 'Finished'">
                <fa-icon class="finished" [icon]="faCheck"></fa-icon>
              </ng-container>
            </div>
            <div class="ot">
              <span class="ot-ref">{{po.order}}</span>
              <div class="prod-ref">
                <span>{{po.products[0].product}}</span>
              </div>
            </div>
          </div>
          <div class="ots-dates">
            <span>{{po.start}}</span>
            <span>|</span>
            <span>{{po.end}}</span>
          </div>
          <div class="ots-dates" *ngIf="po.delay > 0">
            <span>Días de retraso</span>
            <span style="color: red;">{{po.delay}}</span>
          </div>
          <div class="ots-end"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="ots-resume">
    <div>
      <h5>Resumen</h5>

      <ng-container *ngIf="department === 'ingenieria'">
        <div class="resume-info">
          <span>OT's previstas</span> <span>{{resume.ots.preview}} OTs</span>
        </div>
        <div class="resume-info">
          <span>OT's realizadas</span> <span>{{resume.ots.done}} OTs</span>
        </div>
        <hr>
        <div class="resume-info">
          <span>Progreso</span> <span>{{resume.ots.percentage}}%</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped"
               [class.bg-success]="resume.ots.percentage <= 100"
               [class.bg-warning]="resume.ots.percentage < 85"
               [class.bg-danger]="resume.ots.percentage < 15"
               [class.progress-bar-animated]="working"
               [style.width.%]="resume.ots.percentage" style="height:8px;"
          ></div>
        </div>
      </ng-container>

      <ng-container *ngIf="department === 'fundicion'">
        <div class="resume-info">
          <span>Toneladas previstas</span> <span>{{resume.weight.preview}} tn</span>
        </div>
        <div class="resume-info">
          <span>Toneladas realizadas</span> <span>{{resume.weight.done}} tn</span>
        </div>
        <hr>
        <div class="resume-info">
          <span>Progreso</span> <span>{{resume.weight.percentage}}%</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped"
               [class.bg-success]="resume.weight.percentage <= 100"
               [class.bg-warning]="resume.weight.percentage < 85"
               [class.bg-danger]="resume.weight.percentage < 15"
               [class.progress-bar-animated]="working"
               [style.width.%]="resume.weight.percentage" style="height:8px;"
          ></div>
        </div>
      </ng-container>

      <ng-container *ngIf="department === 'mecanizado'">
        <div class="resume-info">
          <span>Horas previstas</span> <span>{{resume.hours.preview}} hs</span>
        </div>
        <div class="resume-info">
          <span>Horas realizadas</span> <span>{{resume.hours.done}} hs</span>
        </div>
        <hr>
        <div class="resume-info">
          <span>Progreso</span> <span>{{resume.hours.percentage}}%</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped"
               [class.bg-success]="resume.hours.percentage <= 100"
               [class.bg-warning]="resume.hours.percentage < 85"
               [class.bg-danger]="resume.hours.percentage < 15"
               [class.progress-bar-animated]="working"
               [style.width.%]="resume.hours.percentage" style="height:8px;"
          ></div>
        </div>
      </ng-container>

      <ng-container *ngIf="department === 'pulido'">
        <div class="resume-info">
          <span>Horas previstas</span> <span>{{resume.hours.preview}} hs</span>
        </div>
        <div class="resume-info">
          <span>Horas realizadas</span> <span>{{resume.hours.done}} hs</span>
        </div>
        <hr>
        <div class="resume-info">
          <span>Progreso</span> <span>{{resume.hours.percentage}}%</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped"
               [class.bg-success]="resume.hours.percentage <= 100"
               [class.bg-warning]="resume.hours.percentage < 85"
               [class.bg-danger]="resume.hours.percentage < 15"
               [class.progress-bar-animated]="working"
               [style.width.%]="resume.hours.percentage" style="height:8px;"
          ></div>
        </div>
      </ng-container>

      <ng-container *ngIf="department === 'calidad'">
        <div class="resume-info">
          <span>Piezas previstas</span> <span>{{resume.ots.preview}} und</span>
        </div>
        <div class="resume-info">
          <span>Piezas realizadas</span> <span>{{resume.ots.done}} und</span>
        </div>
        <hr>
        <div class="resume-info">
          <span>Progreso</span> <span>{{resume.ots.percentage}}%</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped"
               [class.bg-success]="resume.ots.percentage <= 100"
               [class.bg-warning]="resume.ots.percentage < 85"
               [class.bg-danger]="resume.ots.percentage < 15"
               [class.progress-bar-animated]="working"
               [style.width.%]="resume.ots.percentage" style="height:8px;"
          ></div>
        </div>
      </ng-container>

      <ng-container *ngIf="department === 'expedicion'">
        <div class="resume-info">
          <span>Envíos previstas</span> <span>{{resume.ots.preview}} envíos</span>
        </div>
        <div class="resume-info">
          <span>Envíos realizadas</span> <span>{{resume.ots.done}} envíos</span>
        </div>
        <hr>
        <div class="resume-info">
          <span>Progreso</span> <span>{{resume.ots.percentage}}%</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped"
               [class.bg-success]="resume.ots.percentage <= 100"
               [class.bg-warning]="resume.ots.percentage < 85"
               [class.bg-danger]="resume.ots.percentage < 15"
               [class.progress-bar-animated]="working"
               [style.width.%]="resume.ots.percentage" style="height:8px;"
          ></div>
        </div>
      </ng-container>

    </div>
  </div>
</div>

