
<div class="card">
  <div class="card-body">

    <div class="row">

      <div class="col-12">
        <div class="machines-order">
          <div class="row">
            <ng-container *ngFor="let machine of machines; let i = index">
              <div class="col-3">
                <div class="card">
                  <div class="card-body" (click)="machineToParent(machine)">
                    <div class="icon-title">
                      <img src="assets/images/{{machine.name}}.jpg" [alt]="machine.name" style="width: 100%; height: 100px; object-fit: cover; margin-bottom: 20px">
                      <span>{{machine.name}}</span>
                      <ng-container *ngIf="machine.status === 'stopped'">
                        <fa-icon class="machine-sign warning" [icon]="faTriangleExclamation"></fa-icon>
                      </ng-container>
                      <ng-container *ngIf="machine.status === 'working'">
                        <fa-icon class="machine-sign working" [icon]="faGear"></fa-icon>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
