.machine-sign{

}
.machine-sign.warning{
  color: #ffb22b;
}
.machine-sign.working{
  color: #28a745;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

.icon-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
