<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-workshop-filter (datesChanged)="datesChangedHandler($event)"></app-workshop-filter>
    </div>

    <div class="col-6">
      <app-machines (machineSelected)="machineChangedHandler($event)"></app-machines>
    </div>

    <div class="col-6">
      <app-workshop-taskslist [data]="{startDate: startDate, endDate: endDate, machine: machine}"></app-workshop-taskslist>
    </div>
  </div>
</div>

