<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Calculator Form</h4>
        <h6 class="card-subtitle">Ver los tiempos de pedido</h6>
        <form class="m-t-30" [formGroup]="formImport">
          <div class="row">

            <div class="col-6">
              <div class="form-group">
                <label>Select a Customer</label>
                <select class="custom-select" id="customer" formControlName="customer">
                  <option value="" disabled selected hidden>Customers</option>
                  <option value="SCHOTTEL">SCHOTTEL</option>
                  <option value="PROMARIN">PROMARIN</option>
                  <option value="ROLLS-ROYCE">ROLLS-ROYCE</option>
                  <option value="ANDRITZ">ANDRITZ</option>
                </select>
<!--                <div *ngIf="customer.touched && name.hasError('required')">Required</div>-->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Target Date</label>
                <input type="date" class="form-control" formControlName="target_date">
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>
                  Products
<!--                  <button type="button" class="btn btn-success" (click)="addProduct(content1)">+</button>-->
                  <button type="button" class="btn btn-success" (click)="addProduct()">+</button>
                </label>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-list">
                      <thead>
                      <tr>
                        <th>Family</th>
                        <th>Finish Class</th>
                        <th>Material</th>
                        <th>Ø</th>
                        <th>Weight</th>
                        <th>DAR</th>
                        <th>Z</th>
                        <th>Cone Ø</th>
                        <th>Surfaces</th>
                        <th>Templates</th>
                        <th>Porting Hole</th>
                        <th>Quantity</th>
                        <th style="min-width: 77px"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let p of products; let i = index">
                        <td>{{p.family}}</td>
                        <td>{{p.finish_class}}</td>
                        <td>{{p.material}}</td>
                        <td>{{p.diameter}}</td>
                        <td>{{p.weight}}</td>
                        <td>{{p.dar}}</td>
                        <td>{{p.z}}</td>
                        <td>{{p.cone_diameter}}</td>
                        <td>
                          <fa-icon [icon]="check" *ngIf="p.surfaces === true"></fa-icon>
                          <fa-icon [icon]="removeIcon" *ngIf="p.family === 'FPP' && !p.surfaces"></fa-icon>
                          <span *ngIf="p.family === 'CPP' && !p.surfaces">NA</span>
                        </td>
                        <td>
                          <fa-icon [icon]="check" *ngIf="p.templates === true"></fa-icon>
                          <fa-icon [icon]="removeIcon" *ngIf="!p.templates"></fa-icon>
                        </td>
                        <td>
                          <fa-icon [icon]="check" *ngIf="p.porting_hole === true"></fa-icon>
                          <fa-icon [icon]="removeIcon" *ngIf="p.family === 'CPP' && !p.porting_hole"></fa-icon>
                          <span *ngIf="p.family === 'FPP' && !p.porting_hole">NA</span>
                        </td>
                        <td>{{p.quantity}}</td>
                        <td><button type="button" class="btn btn-danger ml-2" (click)="removeProduct(i)"><fa-icon [icon]="trashIcon" ></fa-icon></button></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
        <div class="qoBtns">
          <div>
            <button type="button" class="btn btn-success" (click)="calculate()"> <i class="fa fa-check"></i> Calculate</button>
            <button type="button" class="btn btn-warning ml-2" (click)="cleanData()"> <i class="fa fa-check"></i> Reset</button>
          </div>
          <div>
            <button type="button" class="btn btn-success" (click)="addQO()"> <i class="fa fa-check"></i> Add QO</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
