
.qoBtns {
  display: flex;
  justify-content: space-between;
}

.table-list td{
  line-height: 40px;
}

.left-line {
  border-left: 1px solid rgba(120, 130, 140, 0.13);
  padding: 15px;
}
.table-times > tbody > tr > td:first-child {
  position: relative;
  text-transform: capitalize;
  padding-left: 30px;
}
.table-times > tbody > tr > td:first-child:before {
  content:"";
  position: absolute;
  top: 16px;
  left: 8px;
  width: 15px;
  height: 15px;
  background-color: #7adaff;
  border-radius: 5px;
}
