<div class="modal-header" ngbAutoFocus>
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <h4>{{text}}</h4>
</div>
<div class="modal-footer">
  <ng-container *ngFor="let btn of btns; let i = index">
    <button type="button" class="btn btn-outline-dark" (click)="btnClick(btn.click)">{{btn.text}}</button>
  </ng-container>
</div>
