
::ng-deep .xxl-modal .modal-dialog {
  max-width: 80%;
  width: 80%;
}

.table.table-products td{
  line-height: 30px;
}
.table.table-products td .img-circle{
  width: 30px;
}

::ng-deep .editing{
  pointer-events: none;
}
