<div class="modal-header" ngbAutoFocus>
  <h4 class="modal-title">{{order.reference}}</h4>

  <h4 class="modal-title">Target Date: {{order.target_date}}</h4>
</div>
<div class="modal-body">
  <h5>Products:</h5>

  <table class="table table-products">
    <thead>
    <tr>
      <td>#</td>
      <td>Product</td>
      <td>Finish Class</td>
      <td>Material</td>
      <td>Ø</td>
      <td>Weight</td>
      <td>DAR</td>
      <td>Z</td>
      <td>Cone Ø</td>
      <td>Surfaces</td>
      <td>Templates</td>
      <td>Porting Hole</td>
    </tr>
    </thead>
    <colgroup>
      <col style="width: 3%">
      <col style="width: 8%">
      <col style="width: 8%">
      <col style="width: 10%">
      <col style="width: 8%">
      <col style="width: 8%">
      <col style="width: 8%">
      <col style="width: 6%">
      <col style="width: 8%">
      <col style="width: 8%">
      <col style="width: 8%">
      <col style="width: 8%">
    </colgroup>
    <tbody>
    <tr *ngFor="let product of order.products; let i = index" [formGroup]="formModal">
      <ng-container formGroupName="prod{{i}}">
        <td><img src="assets/images/{{product.family}}.jpg" alt="user" class="img-circle"></td>
        <td>
          <span *ngIf="!edit">{{product.subfamily}}</span>
          <input *ngIf="edit" formControlName="subfamily" type="text" class="form-control mb-4" [attr.disabled]="true"/>
        </td>
        <td>
          <span *ngIf="!edit">{{product.finish_class}}</span>
          <select *ngIf="edit" class="custom-select mb-4" formControlName='finish_class'>
            <option value="" disabled selected hidden>Finish Class</option>
            <option value="S">S</option>
            <option value="I">I</option>
            <option value="II">II</option>
          </select>
        </td>
        <td>
          <span *ngIf="!edit">{{product.material}}</span>
          <select *ngIf="edit" class="custom-select mb-4" formControlName='material'>
            <option value="" disabled selected hidden>Material</option>
            <option value="bronce">Bronce</option>
            <option value="acero">Acero</option>
          </select>
        </td>
        <td>
          <span *ngIf="!edit">{{product.diameter}}</span>
          <input *ngIf="edit" formControlName="diameter" type="number" class="form-control mb-4"/>
        </td>
        <td>
          <span *ngIf="!edit">{{product.weight}}</span>
          <input *ngIf="edit" formControlName="weight" type="number" class="form-control mb-4"/>
        </td>
        <td>
          <span *ngIf="!edit">{{product.dar}}</span>
          <input *ngIf="edit" formControlName="dar" type="number" min="0" max="1" class="form-control mb-4"/>
        </td>
        <td>
          <span *ngIf="!edit">{{product.z}}</span>
          <input *ngIf="edit" formControlName="z" type="number" class="form-control mb-4"/>
        </td>
        <td>
          <span *ngIf="!edit">{{product.cone_diameter}}</span>
          <input *ngIf="edit" formControlName="cone_diameter" type="number" class="form-control mb-4"/>
        </td>
        <td>
          <ng-container *ngIf="!edit">
            <fa-icon [icon]="faCheck" *ngIf="product.surfaces === true"></fa-icon>
            <fa-icon [icon]="faMinus" *ngIf="product.family === 'FPP' && !product.surfaces"></fa-icon>
            <span *ngIf="product.family === 'CPP' && !product.surfaces">NA</span>
          </ng-container>
          <div *ngIf="edit" class="form-check mb-4">
            <input class="form-check-input" type="checkbox" formControlName='surfaces' id="{{'surfaces'+i}}" value="">
          </div>
        </td>
        <td>
          <ng-container *ngIf="!edit">
            <fa-icon [icon]="faCheck" *ngIf="product.templates === true"></fa-icon>
            <fa-icon [icon]="faMinus" *ngIf="!product.templates"></fa-icon>
          </ng-container>
          <div *ngIf="edit" class="form-check mb-4">
            <input class="form-check-input" type="checkbox" formControlName='templates' id="{{'templates'}}" value="">
          </div>
        </td>
        <td>
          <ng-container *ngIf="!edit">
            <fa-icon [icon]="faCheck" *ngIf="product.porting_hole === true"></fa-icon>
            <fa-icon [icon]="faMinus" *ngIf="product.family === 'CPP' && !product.porting_hole"></fa-icon>
            <span *ngIf="product.family === 'FPP' && !product.porting_hole">NA</span>
          </ng-container>
          <div *ngIf="edit" class="form-check mb-4">
            <input class="form-check-input" type="checkbox" formControlName='porting_hole' id="{{'porting_hole'}}" value="">
          </div>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>

</div>
<div class="modal-footer">
  <ng-container *ngIf="!edit">
    <button type="button" class="btn btn-warning" (click)="editQO()"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
    <button type="button" class="btn btn-success" (click)="confirmQO()"><fa-icon [icon]="faCheck"></fa-icon></button>
  </ng-container>
  <ng-container *ngIf="edit">
    <button type="button" class="btn btn-success" (click)="saveQO()"><fa-icon [icon]="faCheck"></fa-icon></button>
    <button type="button" class="btn btn-danger" (click)="cancelQO()"><fa-icon [icon]="faTimes"></fa-icon></button>
  </ng-container>
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
</div>
