<div class="login-register" style="background-image:url(../../../../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material" id="loginform">
        <h3 class="box-title m-b-20">Sign Up</h3>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" required="" type="text" placeholder="Name">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" required="" type="text" placeholder="Email">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" required="" type="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" required="" type="password" placeholder="Confirm Password">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-success p-t-0">
              <input id="checkbox-signup" type="checkbox" required="" class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> I agree to all
                <a href="javascript:void(0)">Terms</a>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group text-center p-b-20">
          <div class="col-xs-12">
            <a [routerLink]="['/authentication/login']" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Sign Up</a>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            Already have an account?
            <a class="text-info m-l-5" [routerLink]="['/authentication/login']">
              <b>Sign In</b>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
