.main-container {
  margin-top: 60px;
  margin-left: 235px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}
.page-wrapper{
  z-index: 0;
}
.container-fluid{
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
}
