
.toast-content {
  display: inline-flex;
  width: 300px;
  height: auto;
  /*color: #333;*/
  color: #ffffff;
  border: none;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.toast-content.toast-info {
  /*background-color: #e1f5fe;*/
  background-color: #1976d2;
}
.toast-content.toast-success {
  /*background-color: #dff6dd;*/
  background-color: #28a745;
}
.toast-content.toast-warning {
  /*background-color: #fff4ce;*/
  background-color: #ffb22b;
}
.toast-content.toast-error {
  /*background-color: #fde7e9;*/
  background-color: #ef5350;
}

.toast-title {
  text-transform: capitalize;
}

.toast-icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
