<div class="toast-content" [ngClass]="{
      'toast-info': toast.type === 'information',
      'toast-success' : toast.type === 'success',
      'toast-warning' : toast.type === 'warning',
      'toast-error' : toast.type === 'error'}">
  <div class="toast-icon">
    <fa-icon [icon]="faCircleInfo" *ngIf="toast.type === 'information'"></fa-icon>
    <fa-icon [icon]="faCircleCheck" *ngIf="toast.type === 'success'"></fa-icon>
    <fa-icon [icon]="faCircleExclamation" *ngIf="toast.type === 'warning'"></fa-icon>
    <fa-icon [icon]="faCircleXmark" *ngIf="toast.type === 'error'"></fa-icon>
  </div>
  <div class="toast-message ml-3">
    <div class="toast-title">{{toast.type}} !</div>
    <div class="toast-text">{{toast.text}}</div>
  </div>
</div>
