<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">General Form</h4>
        <h6 class="card-subtitle"> All with bootstrap element classies </h6>
        <form class="m-t-30" [formGroup]="formImport">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="name"
                   placeholder="Enter Name">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
              else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="inputSuccess1">Input with success</label>
            <input type="text" class="form-control is-valid" id="inputSuccess1">
            <div class="valid-feedback">
              Success! You've done it.
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="inputDanger1">Input with danger</label>
            <input type="text" class="form-control is-invalid" id="inputDanger1">
            <div class="invalid-feedback">
              Sorry, that username's taken. Try another?
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="save()"> <i class="fa fa-check"></i> Save</button>
          <button type="button" class="btn btn-dark ml-2">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
