
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="d-flex justify-content-between mb-2">
            <h4 class="card-title text-capitalize">Purchase Orders</h4>
          </div>
          <!--        <h5 class="card-subtitle">This is the editing Data table option you can double click on text</h5>-->

          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Reference</th>
              <th>Customer</th>
              <th>Creation Date</th>
              <th>Target Date</th>
              <th>Products</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows; let i = index">
              <td>{{i}}</td>
              <td>{{row.reference}}</td>
              <td>{{row.customer}}</td>
              <td>{{row.creation}}</td>
              <td>{{row.target_date}}</td>
              <td>{{row.products.length}}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

