/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

.fill-h-100 {
  height: 100%;
}

.mb-15 {
  margin-bottom: 1.5em;
}
/*==============================================================*/
/*  Filter Bar  */
/*==============================================================*/
.filter-type{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgba(237,242,247,1);
  border-radius: 0.375rem;
  align-items: center;
  font-weight: 600;
  height: 2.5rem;
  padding: 0.25rem;
  gap: 5px;
  z-index: 0;
}
.filter-type .type{
  height: 2rem;
  flex: 1;
  z-index: 1;
}
.filter-type .type input{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}
.filter-type .type label{
  width: 100%;
  text-align: center;
  font-size: .875rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
}

.filter-type .selected {
  position: absolute;
  border-radius: 0.25rem;
  background-color: white;
  height: 32px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  z-index: 0;
  transition: left 0.5s;
}
/*==============================================================*/
/*  End Filter Bar  */
/*==============================================================*/
