<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true" (click)="closeModal(null)">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formModal">
    <div class="form-group">
      <div class="input-group">
        <div class="col-12">
          <div class="row">
            <div class="col-md-6">
              <select class="custom-select mb-4" formControlName='family' id="{{'family'}}">
                <option value="" disabled selected hidden>Product Family</option>
                <option value="FPP">FPP</option>
                <option value="CPP">CPP</option>
              </select>
            </div>
            <div class="col-md-6">
              <input formControlName='subfamily' id="{{'subfamily'}}" type="text" class="form-control mb-4" placeholder="SubFamily" [attr.disabled]="true"/>
            </div>
            <div class="col-md-6">
              <select class="custom-select mb-4" formControlName='finish_class' id="{{'finish_class'}}" (change)="setSurfaces()">
                <option value="" disabled selected hidden>Finish Class</option>
                <option value="S">S</option>
                <option value="I">I</option>
                <option value="II">II</option>
              </select>
            </div>
            <div class="col-md-6">
              <select class="custom-select mb-4" formControlName='material' id="{{'material'}}">
                <option value="" disabled selected hidden>Material</option>
                <option value="bronce">Bronce</option>
                <option value="acero">Acero</option>
              </select>
            </div>
            <div class="col-md-6">
              <input formControlName='diameter' id="{{'diameter'}}" type="number" class="form-control mb-4" placeholder="Diameter" (change)="setSubFamily()"/>
            </div>
            <div class="col-md-6">
              <input formControlName='weight' id="{{'weight'}}" type="number" class="form-control mb-4" placeholder="Weight" />
            </div>
            <div class="col-md-6" *ngIf="showInputs('FPP')">
              <input formControlName='dar' id="{{'dar'}}" type="number" min="0" max="1" class="form-control mb-4" placeholder="Dar" />
<!--              <div class="slidecontainer">-->
<!--                <p class="mb-0">DAR: {{formModal.value.dar}}</p>-->
<!--                <input type="range" min="0" max="1" step="0.1" class="slider" formControlName='dar' id="{{'dar'}}">-->
<!--              </div>-->
            </div>
            <div class="col-md-6" *ngIf="showInputs('FPP')">
              <input formControlName='z' id="{{'z'}}" type="number" class="form-control mb-4" placeholder="Z" />
            </div>
            <div class="col-md-12" *ngIf="showInputs('FPP')">
              <input formControlName='cone_diameter' id="{{'cone_diameter'}}" type="number" class="form-control mb-4" placeholder="Cone Diameter" />
            </div>
            <div class="col-md-6" *ngIf="showInputs('FPP')">
              <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" formControlName='surfaces' id="{{'surfaces'}}" value="">
                <label class="form-check-label" for="{{'surfaces'}}">
                  Surfaces
                </label>
              </div>
            </div>
            <div class="col-md-6" *ngIf="showInputs('FPP') || showInputs('CPP')">
              <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" formControlName='templates' id="{{'templates'}}" value="">
                <label class="form-check-label" for="{{'templates'}}">
                  Templates
                </label>
              </div>
            </div>
            <div class="col-md-6" *ngIf="showInputs('CPP')">
              <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" formControlName='porting_hole' id="{{'porting_hole'}}" value="">
                <label class="form-check-label" for="{{'porting_hole'}}">
                  Porting Hole
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <input formControlName='quantity' id="{{'quantity'}}" type="number" class="form-control mb-4" placeholder="Quantity" />
            </div>
            <div class="col-md-12">
              <input formControlName='additional_parameters' id="{{'additional_parameters'}}" type="number" class="form-control mb-4" placeholder="Additional Parameters" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal(formModal.getRawValue())">Save</button>
</div>
