
<div class="day-row">
  <span>{{ot.reference}} - {{ot.product}}</span>
  <span class="ot-status"
        [class.status-warning] = "ot.status === 'Pending' || ot.status === 'Paused'"
        [class.status-success] = "ot.status === 'Finished'"
  >
                        {{ot.status}}
                      </span>
</div>
<div class="row ot-info">


  <div class="col-12">
    <p><span>Inicio:</span> {{ot.estimated_start}}</p>
    <p><span>Fin:</span> {{ot.estimated_end}}</p>
    <p><span>Horas Estimadas:</span> {{ot.duration}} h</p>
  </div>

  <ng-container *ngIf="ot.status==='InProgress'">
    <div class="col-12">
      <p></p>
      <p><span>Horas Restantes:</span> {{ot.remaining()}}</p>
    </div>
  </ng-container>

  <ng-container *ngIf="ot.status==='Finished'">
    <div class="col-12">
      <p><span>Horas Reales:</span> {{ot.real_duration}}</p>
      <p><span>Resume: {{ot.resume}} h</span></p>
    </div>
  </ng-container>


  <!--                      <div class="col-12 btn" (click)="ot.show = !ot.show">-->
  <!--                        <span>Workers</span>-->
  <!--                        <div class="ml-2">-->
  <!--                          <fa-icon [icon]="faCaretDown" *ngIf="ot.show"></fa-icon>-->
  <!--                          <fa-icon [icon]="faCaretUp" *ngIf="!ot.show"></fa-icon>-->
  <!--                        </div>-->
  <!--                      </div>-->
  <!--                      <div class="workers" [ngbCollapse]="ot.show">-->
  <!--                        <table class="table mb-0">-->
  <!--                          <thead>-->
  <!--                          <tr>-->
  <!--                            <th>Name</th>-->
  <!--                            <th>Start Time</th>-->
  <!--                            <th>End Time</th>-->
  <!--                            <th>Work Time</th>-->
  <!--                          </tr>-->
  <!--                          </thead>-->
  <!--                          <tbody>-->
  <!--                          <tr *ngFor="let worker of ot.workers; let i = index">-->
  <!--                            <td>{{worker.name}}</td>-->
  <!--                            <td>{{worker.start}}</td>-->
  <!--                            <td>{{worker.end}}</td>-->
  <!--                            <td>{{worker.duration}}h</td>-->
  <!--                          </tr>-->
  <!--                          </tbody>-->
  <!--                        </table>-->
  <!--                      </div>-->
</div>
