

.day-row{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: #ffffff;
  background-color: #1976d2;
  vertical-align: bottom;
  border-bottom: 2px solid #eff2f7;
}

.ot-status{
  padding: 5px 10px;
  line-height: 1rem;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
}
.status-warning {
  background-color: #ffb22b;
}
.status-warning {
  background-color: #ffb22b;
}
.status-success {
  background-color: #28a745;
}
.status-danger {
  background-color: #ef5350;
}
.ot-info{
  padding: 15px;
}
.ot-info span{
  font-weight: 500;
  color: #212529;
}
.ot-info > div {
  display: flex;
  justify-content: space-between;
}
.ot-info .btn{
  display: flex;
  justify-content: center;
  border-top: 1px solid #eef5f9;
}

.ot-info .workers{
  width: 100%;
  padding: 10px;
}

.ot-info table{
  font-size: 14px;
}
